[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
moviepy = "*"
tensorflow = "*"
numpy = "*"
opencv-python = "*"
opencv-utils = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.9"
